@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to My .NET Core Web Page!</h1>

<p>This is a simple example of a .NET Core web page using Razor Pages.</p>

<p>Current time: @Model.CurrentTime</p>
